<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>${user.dir}/logs/application-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover with compression -->
            <fileNamePattern>${user.dir}/logs/access-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 1 week worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} %message</pattern>
            <!-- this quadruples logging throughput -->
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %coloredLevel %logger{30} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_BUSINESS_ACCESS" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="BUSINESS_ACCESS"/>
    </appender>

    <!--<appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">-->
    <!--<appender-ref ref="STDOUT" />-->
    <!--</appender>-->

    <!-- additivity=false ensures access log data only goes to the access log -->
    <logger name="access" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_FILE"/>
    </logger>

    <logger name="play" level="INFO"/>

    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>

    <logger name="play.api.db.slick" level="INFO"/>
    <logger name="application" level="DEBUG"/>
    <logger name="akka" level="INFO"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <logger name="controllers" level="DEBUG"/>
    <logger name="common.config" level="DEBUG"/>
    <logger name="models" level="DEBUG"/>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="me.yangbajing" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>